body {
    background-color: #f2f2f2;

    --primary-color : cadetblue;
    --secondary-color: #464343;
    --third-color   : #1c87c5;

}
.skills-list {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.card {
    background-color: #fff;
    padding: 5%;
}

.card h4 {
    color: var(--primary-color);
    font-family: Open Sans;
}

.timeline {
    color: var(--primary-color);;
}

.name {
    background-color: var(--secondary-color);
    color: #fff
}
.card h5,.list-group{
    color: #fff;
    letter-spacing: 2px;
}
 b5,.Social{
   background-color:  var(--secondary-color);
   font-family: Open Sans;
}
/*
.contact{
    background-color: var(--third-color);
}*/
.card .contact h2,.list-contact{
    color: #fff;
    /* letter-spacing: 2px; */
}
.card-image{
    width: 105%;
    height: 135%;
    overflow: hidden;
}
 b3,.Education{
    color: var(--third-color);
    font-size: 2.28rem;
    font-family: Open Sans;
}
.timeline2{
    color: var(--primary-color);
}
b1,b2{
    color: var(--secondary-color);
} 
.list-group{
    padding-left: 10px;
}
.list-contact{
    padding-left: 10px;
}
.my {
    background-color: var(--secondary-color)
}
.card .my h4{
    font-size: 15;
    background-color: var(--secondary-color); 
    overflow: hidden;
    color: #fff;
}
h2{
    color: #fff;
}
b1,b2{
    font-weight: bold;
    font-size: 17px;
}
.contact list{
    background-color: var(--secondary-color);
    font-weight: bold;
    letter-spacing: 2px;
}
.contact1{
    background-color: var(--third-color);
    font-family: Open Sans;
}
h3{
    color: #fff;
}
li{
    margin-right: 20px;
}
p{
    font-size: 16px;
}
b{
    font-size: 17px;
}
b4,b5{
    font-size: 2.28rem;
    color: #fff;
}
.img{
    margin-top: 9px;
}


/* Contact sections starts here */
.fa {
    padding: 10px;
}
/* Contact sections Ends here */